<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="index.html" class="app-brand-link">
        <span class="app-brand-logo demo">
          <img src="../assets/logo/FullLogo.png" width="160"/>
        </span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item" routerLinkActive="active">
        <a [routerLink]="['/home', 'dashboard']" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>

      <!-- Layouts -->
      <li class="menu-item" routerLinkActive="active">
        <a [routerLink]="['/home', 'TendencyNews']" class="menu-link">
          <i class="menu-icon tf-icons bx bx-layout"></i>
          <div data-i18n="Layouts">News / Tendency</div>
        </a>
      </li>

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Parkings</span>
      </li>

      <!-- Parckings -->
      <li class="menu-item" routerLinkActive="active">
        <a [routerLink]="['/parkings']" class="menu-link">
          <i class='menu-icon tf-icons bx bxs-parking'></i><!-- Icône de parking -->
          <div data-i18n="Layouts">Parkings</div>
        </a>
      </li>
      <!-- Parking Map -->
      <li class="menu-item" routerLinkActive="active">
        <a [routerLink]="['/parkingsmap']" class="menu-link">
          <i class='menu-icon tf-icons bx bxs-map-pin'></i> <!-- Icône de catégorie ou type -->
          <div data-i18n="Layouts">Parking Map</div>
        </a>
      </li>

      <!-- top view -->
      <li class="menu-item" routerLinkActive="active">
        <a [routerLink]="['/topview']" class="menu-link">
          <i class='menu-icon tf-icons  bx bxs-map-alt'></i>
          <div data-i18n="Layouts">Top View</div>
        </a>
      </li>



      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Artisans</span>
      </li>

      <!-- Types -->
      <li class="menu-item" routerLinkActive="active">
        <a [routerLink]="['/typesArtisan']" class="menu-link">
          <i class="menu-icon tf-icons bx bx-category"></i> <!-- Icône de profil ou utilisateur -->
          <div data-i18n="Layouts">Types</div>
        </a>
      </li>

      <!-- Artisans -->
      <li class="menu-item" routerLinkActive="active">
        <a [routerLink]="['/Artisans']" class="menu-link">
          <i class='menu-icon tf-icons bx bx-briefcase-alt-2' ></i> <!-- Icône d'outil ou artisan -->
          <div data-i18n="Layouts"> Artisans</div>
        </a>
      </li>


      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Pages</span>
      </li>

      <li class="menu-item"  routerLinkActive="active">
        <a [routerLink]="['/profile']" class="menu-link">
          <i class="menu-icon tf-icons bx bx-dock-top"></i>
          <div data-i18n="Account Settings">Account Settings</div>
        </a>
      </li>

      <li class="menu-item">
        <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues" target="_blank"
          class="menu-link">
          <i class="menu-icon tf-icons bx bx-support"></i>
          <div data-i18n="Support">Support</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/" target="_blank"
          class="menu-link">
          <i class="menu-icon tf-icons bx bx-file"></i>
          <div data-i18n="Documentation">Documentation</div>
        </a>
      </li>
    </ul>
  </aside>
  <!-- / Menu -->