<!-- Content -->

<div class="my-container" style="width: 95%;">
  <!-- Basic -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded mb-1">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display: flex;justify-content: center;align-items: center;width: 100%;gap: 4px;">
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary"><i class='bx bxs-plus-circle' ></i> Lot</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary"><i class='bx bxs-minus-circle' ></i> Lot</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary"><i class='bx bxs-edit-alt'></i> Lot</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary"><i class='bx bxs-zoom-in'></i></button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary"><i class='bx bxs-zoom-out' ></i></button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary">Primary</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary">Primary</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary">Primary</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary">Primary</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary">Primary</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary">Primary</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary">Primary</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary">Primary</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary"><i class='bx bxs-save'></i> Save</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Basic -->

  <div class="col-12">
    <div class="card overflow-hidden" style="height:700px">
      <img src="https://cdn-media.roomlala.com/img/blog/parking-629b0f.jpg" width="">
    </div>
  </div>

</div>
<!-- / Content -->



