<div *ngIf="loadingService.loading$ | async" class="loading-overlay">
  <div class="spinner-grow text-dark" role="status" style="margin-right: 4px;">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status" style="margin-right: 4px;">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status" style="margin-right: 4px;">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status" style="margin-right: 4px;">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>


