<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">NEWS /</span> Tendency</h4>

    <!-- Examples -->
    <h5 class="pb-1 mb-4">TOP Artisan</h5>
    <div class="row mb-5">
      @for (ar of artisansTop; track ar.id) {
        <div class="col-md-6 col-xl-4">
          <div class="card mb-3">
            <img class="card-img-top" src="https://localhost:7009/files/ProfileImages/{{ ar.photo }}" alt="Card image cap" />
            <div class="card-body">
              <div style="display: flex; align-items: center;justify-content: space-between;">
                <h5 class="card-title">{{ar.nom}} {{ar.prenom}}</h5>
                <span class="badge badge-center rounded-pill bg-primary">{{ar.rating}}</span>
              </div>
              <p class="card-text">
                {{ar.profession}}
              </p>
              <p><span class="badge bg-success">{{ar.artisanClientServices?.length}} Services</span><br></p>
              <p class="card-text">
                <small class="text-muted"><b>{{ar.anneeExperience}}</b> Year experience</small>
              </p>
              <div style="display: flex;justify-content: end;">
                <button type="button" class="btn btn-secondary">Go somewhere</button>
              </div>
              
            </div>
          </div>
        </div>
      }
      
    </div>
    <!-- Examples -->

    <!-- Style variation -->
    <h5 class="pb-1 mb-4">Top Parkings</h5>
    <div class="row">
      @for (pr of parkingsTop; track pr.id;let i = $index;) {
        <div class="col-md-6 col-xl-4">
          <div class="card text-white mb-3" [ngClass]="getCardClass(i)">
            <div class="card-body">
              <div style="display: flex;justify-content: space-between;">
                <h5 class="card-title text-white">{{pr.nomParcking}} </h5>
                <p>{{pr.creationDate}}</p>
                <span class="badge badge-center rounded-pill bg-secondary">{{pr.lots.length}}</span>
              </div>
              <p class="card-text">{{pr.adresse}}</p>
              <p>Time Work : <b>{{pr.timeStartWork | timeFormat}} - {{pr.timeEndWork | timeFormat}}</b></p><br>
              <span class="badge bg-label-dark">{{pr.artisanClientServices.length}} Service</span><br><br>
              <span class="badge bg-label-dark">{{pr.surface | number:'1.2-2'}} metre</span>
            </div>
            <div class="card-header" style="display: flex;justify-content: end;">
              <button [routerLink]="['/parkingsmap/',pr.id]" type="button" class="btn rounded-pill btn-dark map-btn" ><i class='bx bx-location-plus' style='color:#ffffff'></i></button>
            </div>
          </div>
        </div>
      }
    </div><br>
    <!--/ Style variation -->



    <div>
      <!-- Horizontal -->
    <h5 class="pb-1 mb-4">Loyal Customer</h5>
    <div *ngFor="let clientPair of getClientPairs(clientTop)">
      <div class="row mb-5">
        <div *ngFor="let client of clientPair" class="col-md">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img class="card-img card-img-left" src="https://localhost:7009/files/ProfileImages/{{client.photo}}" alt="client image" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ client.nom }} {{ client.prenom }}</h5>
                  <p class="card-text">
                    {{ client.artisanClientServices?.length }} services
                  </p>
                  <p class="card-text"><small class="text-muted">{{ client.email }}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--/ Horizontal -->
    </div>
    
  </div>
  <!-- / Content -->