<!-- Content -->
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{errorMessage }}</div>
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="index.html" class="app-brand-link gap-2">
              <img src="../assets/logo/FullLogo.png" width="200"/>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2 title-welcome">Welcome Back!</h4>
          <!-- <p class="mb-4">Please sign-in to your account and start the adventure</p> -->
          <form id="formAuthentication" class="mb-3" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email"
                placeholder="Enter your email" 
                name="email" #emailInput="ngModel" [(ngModel)]="user.email" required email  />
                <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="form-text">
                  <div *ngIf="emailInput.errors?.['required']">email is required.</div>
                  <div *ngIf="emailInput.errors?.['email']">Invalid email format.</div>
                </div>
            </div>
            
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Password</label>
                <a href="auth-forgot-password-basic.html">
                  <small>Forgot Password?</small>
                </a>
              </div>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control"
                  placeholder="......."
                  aria-describedby="password"
                  name="password" #passwordInput="ngModel" [(ngModel)]="user.password" required  minlength="8" appPasswordStrength />
                  <span class="input-group-text cursor-pointer"><i class="bx bx-show"></i></span>
              </div>
              <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="form-text">
                <div *ngIf="passwordInput.errors?.['required']">passwordInput is required.</div>
                <div *ngIf="passwordInput.errors?.['minlength']">Password must be at least 8 characters long.</div>
                <div *ngIf="passwordInput.errors?.['passwordStrength']">Password must contain a mix of uppercase, lowercase, numbers, and special characters.</div>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember-me" />
                <label class="form-check-label" for="remember-me"> Remember Me </label>
              </div>
            </div>
            <div class="mb-3">
              <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary d-grid w-100">Sign in</button>
            </div>
          </form>
          <!-- <p class="text-center">
            <span>New on our platform?</span>
            <a href="auth-register-basic.html">
              <span>Create an account</span>
            </a>
          </p> -->
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>

<!-- / Content -->