/* parking-list.component.css */
.container-xxl {
    margin-top: 0px !important; /* Assurez-vous que le margin-top est à 0 */
  }


.bx-trash{
  color: brown;
}

.bxs-detail{
  color: rgb(152, 141, 39);
}

.avatar-xs {
  width: 3rem;
  height: 3rem;
}


.alert{
  text-align: center;
}

.actionColumn{
  display: flex;
  align-items: center;justify-content: space-between;
}